<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "profilePage";
}


<h2>profilePage</h2>

<body>
    <div class="col-lg-3" style="background-color: slateblue">

        <ul style="list-style: none" align="center">
            <!-- Profile picture-->
            <li>
                <div class="container">
                    <img />src="~/Content/clock.png" width: auto; border="0" />
                </div>
            </li>
            <!-- Profile picture end-->
            <li>
                <button type="button" class="btn btn-primary btn-block">Edit experience details</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-block">Possible offers</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-block">Button 1</button>
            </li>
        </ul>
    </div>

    <div class="col-lg-9">
        <ul>
            <li><a href="/dr.dk">1</a></li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
</body>


