<!DOCTYPE html>
<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale-1" >
    <link href="~/Content/bootstrap.css" rel="stylesheet" >
</head>
<body>
    <div id="wrapper">
        <!--2sections, 1 issidebarrother is page content-->
        <!--sidebar-->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Add job experience</a></li>
                <li><a href="#">Change password</a></li>
            </ul>
        </div>
        <!--content-->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-success" id="menu-toggle">Toggle menu</a>
                        <h1>Sidebar layouts are cool</h1>
                        <p>I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,
                        I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,
                        I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,
                        I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,
                        I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,I love stuff,
                        I love stuff,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Script til at vise sidenav-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

</body>