@model ITMatcherWeb.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="~/Content/profilePageSheet.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Job experience</a></li>
                <li><a href="#">Profile details</a></li>
                <li><a href="#">Userroles</a></li>
                <li><a href="#">Consultants</a></li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-success" id="menu-toggle">Menu</a>
                        <h1>Profile</h1>
                        <p>
                            Lorem ipsum dolor sit amet, ex sit alii ridens disputationi, nec mazim minimum eu. Nec id laoreet accumsan, alia discere dolorem eam id. Mea an fuisset repudiandae. Sea te dolorem omnesque scribentur, justo senserit instructior usu ex. Dolorum accusam et mea, saperet postulant iracundia cu qui, sit consul suscipit assueverit ea. Nam apeirian prodesset cu, ei accusamus laboramus dissentias sed.

                            Magna mnesarchum incorrupte ex eum. Facete integre eam ad, falli vituperata inciderint qui ne, ad semper fabulas vulputate mel. Vis at facer vitae nonumy, idque suscipit scaevola nam ad, ea purto brute qualisque mei. Cu laudem officiis qui, ne aeterno insolens cum, quidam quaeque ex vim. Ex vim eleifend eloquentiam. Te vide eligendi interesset nec. Id eam libris reprimique.

                            Has no veritus conclusionemque, eum ad libris maiestatis consetetur. Solum dolore graeco at vel, cu nec errem vocibus probatus, duis partiendo dissentias vis te. Ei odio autem paulo mei, clita audiam recusabo ne sed. Tota malis alterum pri ei, eos habeo postea ad, alii prima ut eos. Virtute nominavi sed id.

                            Labitur probatus elaboraret ius at, cum omnium oporteat no, cum falli quodsi id. Ad case accommodare quo. Pro minim decore ut. Te idque fuisset vel, est eu case vero tempor, ea pri elitr timeam labitur. Persius partiendo urbanitas no per, illud vocibus consequuntur ad nec.

                            Suscipit constituam nam cu, quo offendit urbanitas eu. Diam nibh eruditi sit ad, libris disputando eu sit. In convenire incorrupte contentiones vim, vix no tation suscipit partiendo, invidunt partiendo comprehensam ad eam. Id sumo antiopam pri. Mentitum vivendum at eum, mucius option neglegentur qui no. Et putent recteque vis, fastidii omittantur eam ea.

                            Lorem adipiscing ad usu, mei no quas dolores recteque, qui posse sententiae ei. At quo diam tractatos. Nibh liber utamur ut cum, integre petentium at has, cu zril reprehendunt vim. Dicta corrumpit has ea, ne vel malis fabellas, nam detracto repudiare ad. Eam ad virtute fastidii incorrupte, cu vim lobortis consetetur. Unum sensibus persequeris no his, mea ex posse voluptaria.

                            Mea ne invidunt deseruisse. Quo et dicit hendrerit, eum noluisse convenire explicari ad, ad mei placerat sententiae persequeris. Dicit nusquam voluptatibus est in, aeque meliore has an. Facer constituto mei ne, per et solum etiam moderatius. Tempor virtute veritus ex ius, ne nam stet iudico iracundia. Cu omnis consul percipit pro, ei est illud omnesque.

                            Aperiri honestatis consectetuer at nec. Eros wisi saepe in pri, id dico dicat qui, sint liber petentium qui an. Eu vim dolorem adipiscing. In pro errem consulatu, mea at legere lobortis. Quodsi expetendis at sit, ne paulo consequat adversarium nam, ne suas omnes docendi vim.

                            Ut eius assum vix, nam in brute convenire consequuntur. Ea causae contentiones eum. Et quot conceptam nec, noluisse maiestatis at nam. Duo id cibo nonumy scripserit, cu nisl reformidans eam, hinc modus salutatus et mel. Dicat iracundia aliquando eu pri, sumo principes interesset ius ad. Sea eu nemore senserit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

</body>
</html>