@model ITMatcherWeb.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="~/Content/profilePageSheet.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!--<li><a href="LogInbtn" data-toggle="modal" data-target="#myModal">log in</a></li>-->
                <li><a href="">Profile</a></li>
                <li>
                    @Html.ActionLink("Job experience", "ProfileJobIndex", "JobExperiences", new { @class = "elements" }, null)
                </li>
                <li><a href="#">Job experience</a></li>
                <li><a href="#">Profile details</a></li>
                <li><a href="#">Userroles</a></li>
                <li><a href="#">Consultants</a></li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-success" id="menu-toggle">Menu</a>
                        <div>
                            <h1>Profile</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

</body>
</html>